<section id="blog" class="blog">
  <div class="section-heading text-center">
    <h2>Blog</h2>
  </div>
  <div class="container">
    <div class="blog-content">
      <div class="row">
        <div class="col-sm-12">
          <div class="single-blog-txt">
            <div class="row">
              <div class="col-lg-2 ml-4 mr-4 col-sm-12">
                <div class="row">
                  <div class="mt-4">
                    <img
                      alt="slide"
                      class="d-block w-100 rounder"
                      src="assets/images/blog/docker.png"
                    />
                  </div>
                </div>
                <div class="row" style="padding-left: 10px">
                  <div class="mt-3">
                    <h5>Containerization with Docker</h5>
                  </div>
                </div>
                <div class="row" style="padding-left: 10px;padding-top:10px">
                  <div class="mt-2">
                    <h5>
                      <small>
                        A brief guideline</small
                      >
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="mt-2">
                    <span class="text-uppercase"><strong></strong></span>
                  </div>
                </div>
              </div>
              <div class="card-body ml-4 mr-3 mt-4 col-lg-9 col-sm-12">
                <div class="row">
                  <span
                    >Let's introduce Docker as a powerful containerization platform that streamlines the development and deployment of applications. Key concepts such as Docker images, containers, and Dockerfiles are explained in a straightforward manner. Step-by-step instructions guide readers through setting up a Docker environment and building a sample application. The post highlights Docker's benefits, including consistency across environments, scalability, and efficient resource utilization, making it an essential tool for modern software development.
                  </span>
                </div>
                <div style="margin-top: 35px">
                  <button data-toggle="modal" data-target="#exampleModal"
                    type="button"
                    class="btn btn-warning"
                  >
                    Read more...
                  </button>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>